*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: $main-font;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	line-height: $base-line-height;
}