.form {
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 25px;
}
.form__pair { margin: 1em 0; }
.form__label { 
    font-size: $main;
    display: block;
}
.form__field {
    font-size: $main;
    border: 0;
    padding: 1em;
    &:focus {
        outline-color: 0;
    }
    &.full {
        display: block;
        width: 100%;
    }
}

.input--text {
    font-size: $initial;
    border: 0;
    padding: .35em;
    background-color: $white;
    &:focus {
        outline-color: 0;
    }
    &.full {
        display: block;
        width: 100%;
    }
    &.breath {
        margin: .25em 0;
    }
}

.input--radio__group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input--radio {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
}

.input--radio:checked + .label--radio::before {
    background-color: $grey-500;
}

.input--radio__set {
    padding: .5em;
}
.label--radio {
    font-size: $main;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    &:after {
        content: '';
        position: absolute;
        height: $sml;
        width: $sml;
        border: $grey-500 1px solid;
        vertical-align: middle;
        border-radius: 50%;
        transition: background-color 200ms ease;
    }
    &::before {
        content: '';
        position: absolute;
        height: 11px;
        width: 11px;
        background-color: transparent;
        border-radius: 50%;
    }
}

.label--radio__text {
    margin-bottom: .5em;
    display: block;
}

.form__label--checkbox {
    font-size: $main;
    cursor: pointer;
}
.form__label--checkbox::after {
    content: '';
    display: inline-block;
    height: $main;
    width: $main;
    border: $grey-500 1px solid;
    margin: 0 .75em;
    vertical-align: middle;
    border-radius: 3px;
    transition: background-color 200ms ease;
}
.form__field--checkbox { 
    visibility: hidden;
    position: absolute;
    // find a good place to hide this
}
.form__field--checkbox:checked + .form__label--checkbox::after {
    background-color: $green;
}

