// Panel Description
//
// Panel wrapper - can be any element but most comonly should use links, figures, or divs
// - Panel image wrapper
// -- panel image
// - Panel caption(text)
// -- Any kind of text

.panel__grid {
	@include bp($bp-tiny) {
		display: flex; 
		flex-flow: row wrap;
		justify-content: center;
	}	
	@include bp($bp-lrg) {
		justify-content: flex-start;
	}
}

@mixin panel($type) {
	@if $type == "basic" {
		display: flex;
		margin: 1em auto;
		text-decoration: none;
		color: #000;
		width: 230px;
		height: 300px;
		display: block;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.15);
		padding: 0;
		@include bp-tiny() {
			margin: 1em .5em;
		}

		& > .panel--img--wrap {
			min-width: 100%;
			max-width: 100%;
			max-height: 130px;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}
	} @else if $type == "responsive" {
		display: flex;
		border-bottom: 2px solid rgba(0,0,0,.5);
		padding-bottom: .5em;
		margin: 1em .5em;
		height: auto;
		text-decoration: none;
		color: #000;
		@include bp ($bp-tiny) {
			width: 230px;
			height: 300px;
			display: block;
			border-bottom: none;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.15);
			padding: 0;
		}
	}
}

$panel-types: (
	"--basic": "basic",
	"--responsive": "responsive",
);
.panel {
	@each $type, $value in $panel-types {
		&#{$type} {
			@include panel($value);
		}
	}
}
.panel--img--wrap {
	min-width: 125px; 
	max-width: 125px;
	max-height: 125px;
	overflow: hidden;
	@include bp ($bp-tiny) {
		min-width: 100%;
		max-width: 100%;
		max-height: 130px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.panel--img {
	width: 100%;
	height: auto;
	display: block;
}
.panel--tag {display: none;}
.panel--caption {
	padding-left: 1em;
	@include bp($bp-tiny) {
		padding: 1em .5em;
	}
}
.panel--title {
	font-family: $main-font;
	font-size: $main;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: .5em;
}
.panel--author {
	font-family: $main-font;
	font-size: $sml;
	margin-top: 0;
}
.panel-rating {
	margin-bottom: .5em;
	display: block;
}