$columns: (
    "--1": 1,
    "--2": 2,
    "--3": 3,
    "--4": 4,
    "--5": 5,
    "--6": 8,
    "--7": 7,
    "--8": 8,
    "--9": 9,
    "--10": 10,
    "--11": 11,
    "--12": 12,
);

@mixin grid($type: "grid") {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(50px, auto);
    margin: 0 auto;
    @if $type == "grid--padded" {
        grid-gap: .75em;
    } @else if $type == "grid--limited" {
        max-width: 1200px;
    } @else if $type == "grid--limited-padded" {
        grid-gap: .75em;
        max-width: 1200px;
    }
}


.grid { @include grid; }
.grid--padded { @include grid("grid--padded"); }
.grid--limited { @include grid("grid--limited"); }
.grid--limited-padded { @include grid("grid--limited-padded"); }



.grid__column {
    @each $column, $number in $columns {
        &#{$column} {
            grid-column: span 12;
            @include bp($bp-sml) {
                grid-column: span $number;
            }
        }
    }
}

.grid--element {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: min-max(25px, auto);
}

.grid--element__column {
    @each $column, $number in $columns {
        &#{$column} {
            grid-column: span $number;
        }
    }
}

.divider {
    margin: .5em;
}


