$nav-orientation: "vertical" "horizontal";
$nav-directions: "top" "left" "right";
$nav-positions: "fixed" "absolute" "relative";
$nav-options: "sticky" "full-page" "responsive";

// Going to hold off on nav for now... too many variations
// Most likely navs should be created custom per pattern library